<form method="POST" onsubmit="LoadLocalStorage()" action="/addScore">
    <input id="score" name="score" type="text" readonly>
    <input id="name" name="name" type="text" value="Enter Name">
    <input class="nodeButton" id="btnAddScore" type="submit" value="Add Score">
</form>