<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        {{#if tilesCSS}}
            <link rel="stylesheet" href="css/tileContainer.css">
        {{/if}}
        {{#if summaryJS}}
            <script src="js/summary.js"></script>
        {{/if}}
        {{#if gamestartJS}}
            <script src="js/gamestart.js"></script>
        {{/if}}
        {{#if addScoreJS}}
            <script src="js/addScore.js"></script>
        {{/if}}
        {{#if leaderboardJS}}
            <script src="js/leaderboard.js"></script>
        {{/if}}
        <script src="js/inputcontrol.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>