<div id="menu">
    <form method="POST" action="/game">
        <input class="nodeButton" id="btnStartGame" type="submit" value="Start Game">
    </form>
    <form method="POST" action="/leaderboards">
        <input class="nodeButton" id="btnLeaderboard" type="submit" value="Leaderboards">
    </form>
</div>