<div id="game-container">
    <div id="container-cover"></div>
    <button id="btnStartRound" onclick="StartRound()">Start the game</button>
    <div id="tile-container">
        {{#each tile}}
        <div class="tile" id="{{this.id}}" onclick="ClickTile({{this.id}})"></div>
        {{/each}}
    </div>
    
    <h3>Score:<span id="score">5</span></h3>
    <form method="POST" onsubmit="return confirm('Are you sure you want to end the game?')" action="/finishGame">
        <input class="nodeButton" id="btnEndGame2" type="submit" value="End Game">
    </form>
    <form method="POST" action="/finishGame">
        <input class="nodeButton" id="btnEndGame" type="submit" style="display: none">
    </form>
</div>

