.tile {
    border: 1px solid black;
    background-color: grey;
    position: relative;
    margin: 5px;
    float: left;
    width: 48.5px;
    height: 48.5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15pt;
}

.tile-flip {
    transform: rotateY(180deg);;
}